<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.approval.repository.ApprovalHistoryMapper">

    <!-- 최초 임시저장 시 작성자 히스토리 -->
    <insert id="insertInitialHistory">
        INSERT INTO approval_history (
        approval_num,
        proc_id,
        position_cd,
        status_code,
        his_reg_date
        )
        SELECT
        #{num},
        e.user_id,
        e.position_cd,
        'PND',
        NOW()
        FROM approval_emp e
        WHERE e.user_id = #{writerId}
    </insert>

    <!-- 결재 단계별 이력 추가 -->
    <insert id="insertStepHistory">
        INSERT INTO approval_history (
        approval_num,
        proc_id,
        position_cd,
        status_code,
        his_reg_date
        )
        SELECT
        #{num},
        e.user_id,
        e.position_cd,
        #{statusCode},
        NOW()
        FROM approval_emp e
        WHERE e.user_id = #{procId}
    </insert>

    <!-- 특정 문서의 전체 이력 조회 -->
    <select id="findHistoryByApprovalNum" resultType="com.project.approval.dto.ApprovalHistoryDTO">
        SELECT
        ROW_NUMBER() OVER (ORDER BY h.his_reg_date ASC) AS his_num,
        h.approval_num,
        e.emp_name AS proc_id,
        p.position_name AS position_cd,
        s.status_name AS status_code, <!-- 한글명 -->
        h.his_reg_date
        FROM approval_history h
        LEFT JOIN approval_emp e ON h.proc_id = e.user_id
        LEFT JOIN positions p ON e.position_cd = p.position_cd
        LEFT JOIN approval_status s ON h.status_code = s.status_code
        WHERE h.approval_num = #{approvalNum}
        ORDER BY h.his_reg_date ASC
    </select>

</mapper>
